/*가운데 배치를 위핸 CSS*/
.container {
 min-height: 100%;
}
.row {
 margin: 0 auto;
 text-align: center;
 padding-top: 100px
}
.row .col-md-4 {
 margin-top: 10px;
 outline: 1px pink solid;
 height: 200px;
}
/*가운데 배치를 위핸 CSS*/
/*테이블 th태그 센터를 위한 css 시작*/
table th {
 text-align: center;
}
table td{
	text-align: center;
}
/*테이블 센터를 위한 css 끝*/
table{
	min-width: 400px;
}
/*새로운 테이블 CSS*/
table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    color: #fff;
    background: #2b68a7;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
tbody tr:nth-child(even) {
    background-color: #cee3f6;
}